<!DOCTYPE html>
<html>
	<head>
    <title>Helpline</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/public/style.css"/>
		<link rel="stylesheet" href="/public/adminspecific.css" />
	</head>
	<body>
		<nav class="nav">
			<div class="contain-nav-text">
				<h4>HELPLINE</h4>
			</div>
		</nav>
		<div class="contain">
					<div class="sidebar">
						<div class="contain-content sidebar-content">
							<h5>Michelle is currently online</h5>
							<div class="contain-image">
								<img class="status"src="/public/online.png"/>
							</div>
						</div>
					</div>
						<div class="main-chat">
							<div class="chatroom contain-content">
								<ol class="contain-message-list">
									<li class="date">
										<p>{{ time }}</p>
										<hr />
									</li>
									{{#each pastmessages}}
									<li class="{{this.from}} message">
										<div class="one-message">
											<img class="icon" src="/public/{{this.from}}.png"/>
											<p class="message-content">{{this.message}}</p>
										</div>
									</li>
									{{/each}}
								</ol>
							</div>
						</div>
						<div class="message-footer">
								<form class="message-form">
									<input name="message" type="text" placeholder="Message" autocomplete="off"/>
									<button type="submit" class="submitButton">Send</button>
								</form>
						</div>
		</div>

		<script type="text/javascript" src="/public/scripts/jquery-3.2.1.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/public/scripts/moment.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			$('.main-chat').scrollTop($('.main-chat')[0].scrollHeight);
		});
		$('input').focus();
		var socket = io();
		socket.on('connect', function(){
			var route = window.location.pathname.replace('/admin/chatroomadmin/adminchat/','');
			socket.emit('path', {
				path:route
			});
			socket.emit('join room',{
				route: route
			});
			socket.emit('admin connected');
		});
		// socket.on('disconnect', function(){
		// 	socket.emit('admin disconnected');
		// });
		$('.message-form').on('submit', function(e){
		  e.preventDefault();
		  if($('[name="message"]').val() !== ''){
		    socket.emit('sendMessage', {
		      message:removeTags($('[name=message]').val()),
					from:'admin'
		    });
				$('.contain-message-list').append(`<li class='admin message'>\
		       <div class='one-message'>\
		         <img class='icon' src='/public/admin.png'/>\
		         <p class='message-content'>${removeTags($('[name=message]').val())}</p>\
		         <img class="loading" src="/public/loadwheel.png"/>\
		       </div>\
		     </li>`);
				$('[name="message"]').val('');
				$('.main-chat').scrollTop($('.main-chat')[0].scrollHeight);
			}
		});

		socket.on('messageSent', function(information){
			if(information.from === 'user'){
				$('.contain-message-list').append(`<li class='user message'>\
			     <div class='one-message'>\
			       <img class='icon' src='/public/user.png'/>\
			       <p class='message-content'>${removeTags(information.message)}</p>\
			     </div>\
			   </li>`);
				 $('.main-chat').scrollTop($('.main-chat')[0].scrollHeight);
		 	}
			if(information.from === 'admin'){
				$('.loading').css('opacity','0');
			}
		});

		function removeTags(string, array){
		  return array ? string.split("<").filter(function(val){ return f(array, val); }).map(function(val){ return f(array, val); }).join("") : string.split("<").map(function(d){ return d.split(">").pop(); }).join("");
		  function f(array, value){
		    return array.map(function(d){ return value.includes(d + ">"); }).indexOf(true) != -1 ? "<" + value : value.split(">")[1];
		  }
		}


		</script>
	</body>
</html>
