<!DOCTYPE html>
<html>
	<head>
    <title>Helpline</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/public/style.css"/>
		<style>
			.user .icon{
				float:right;
				margin-right:0;
				margin-left:15px;
			}
			.user .one-message{
				float:right;
			}
			.user p.message-content{
				float:right;
			}
			.user img{
				float:right;
				margin-right:10px;
				opacity:1;
			}`
		</style>
	</head>
	<body>
		<nav class="nav">
			<div class="contain-nav-text">
				<h4>HELPLINE</h4>
			</div>
		</nav>
		<div class="contain">
					<div class="sidebar">
						<div class="contain-content sidebar-content">
							<h5>Michelle is currently online</h5>
							<div class="contain-image">
								<img class="status"src="/public/online.png"/>
							</div>
						</div>
					</div>
						<div class="main-chat">
							<div class="chatroom contain-content">
								<ol class="contain-message-list">
									<li class="date">
										<p>{{ time }}</p>
										<hr />
									</li>
									<li>
										Start off by saying hi!
									</li>
									{{#each pastmessages}}
										<li class="{{this.from}} message">
											<div class="one-message">
												<img class="icon" src="/public/{{this.from}}.png"/>
												<p class="message-content">{{this.message}}</p>
											</div>
										</li>
									{{/each}}
									<!-- <li class="admin message">
										<div class="one-message">
											<img class="icon" src="/public/sampleMich.png"/>
											<p class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										</div>
									</li>
									<li class="user message">
										<div class="one-message">
											<img class="icon" src="/public/common.png"/>
											<p class="message-content">This is from the user.</p>
										</div>
									</li>
									<li class="user message">
										<div class="one-message">
											<img class="icon" src="/public/common.png"/>
											<p class="message-content">This is from the user.</p>
										</div>
									</li> -->
								</ol>
							</div>


						</div>
						<div class="message-footer">
								<form class="message-form">
									<input name="message" type="text" placeholder="Message" autocomplete="off"/>
									<button type="submit" class="submitButton">Send</button>
								</form>
						</div>
		</div>

		<script type="text/javascript" src="/public/scripts/jquery-3.2.1.js"></script>
		<script src="/socket.io/socket.io.js"></script>


		<script type="text/javascript" src="/public/scripts/index.js"></script>
		<script type="text/javascript" src="/public/scripts/moment.js"></script>
		<script type="text/javascript">
		$( document.body ).click(function() {
			$('input').focus();
		});
		$('input').on('blur',function () {
		    var blurEl = $(this);
		    setTimeout(function() {
		        blurEl.focus();
		    }, 10);
		});

			$('input').focus();
			$('document').ready(function(){
				console.log(moment().format('MMMM Do YYYY, h:mm:ss a'));
			});
		</script>
	</body>
</html>
